.chief{
   height: 100vh;
   width: 100%;
   overflow: hidden;
}

.video2{
   z-index: 1;
   height: 100vh;
   width: 100%;
   position: absolute;
   overflow: hidden;

}



/*mobile screens*/
@media screen and (max-width:980px){
   .chief{
      height: 100vh;
      width: 100vw;
      
   }
   .video2{
      position: absolute;
      height: 100vh;
      width: 100vw;
      
   }

}
@media screen and (max-width:900px) and (orientation: landscape){
   .chief{
      height: 100vh;
      width: 100%;
      
   
   }
   .video2{
      position: relative;
      height: 100vh;
      width: 100%;
   }

}

@media screen and (max-width:768px){
   .chief{
      height: 100vh;
      width: 100vw;
   }
   .video2{
      height: 100vh;
      width: 100%;
      position: relative;
      overflow: hidden;
   
   }
   
}
@media screen and (max-width:575px) {
   .chief{
      height: 100vh;
      width: 100%;
     
   }
   .video2{
      height: 100vh;
      width: 100%;
      left: 6%;
      position: absolute;
      overflow: hidden;
   
   }
}
