button {
    cursor: pointer;
    height: 60px;
    width: 80px;
}

.btn2 {
    z-index: 3;
    position: absolute;
    left: 3%;
    top: 4%;
    opacity: 0%;
    padding: 20px, 10px, 10px, 10px;
}

.btn3 {
    z-index: 3;
    position: absolute;
    left: 29%;
    bottom: 75%;
    opacity: 0%;
    padding: 20px, 10px, 10px, 10px;
}

.btn4 {
    z-index: 3;
    position: absolute;
    left: 59%;
    top: -7%;
    opacity: 0%;
}

.btn-4 {
    height: 130px;
    width: 220px;
}

.btn5 {
    z-index: 3;
    position: absolute;
    left: 78%;
    bottom: 62%;
    opacity: 0%;
}

.btn6 {
    z-index: 3;
    position: absolute;
    left: 89.5%;
    bottom: 60%;
    opacity: 0%;
}

.btn-6 {
    height: 150px;
    width: 150px;
}

.btn7 {
    z-index: 3;
    position: absolute;
    font-size: 30px;
    left: 53%;
    bottom: 27%;
    opacity: 0%;
    cursor: pointer;
}

.btn8 {
    z-index: 3;
    position: absolute;
    left: 12%;
    bottom: 4%;
    opacity: 0%;
    cursor: pointer;
}
.btn-8{
    width: 115px;
    border-radius: 20px;
}

.btn7:hover {
    opacity: 100%;

}


/*mobile formatting */
@media screen and (max-width: 1050px) {
    button {
        cursor: pointer;
        height: 60px;
        width: 80px;
    }

    .btn2 {
        z-index: 2;
        position: absolute;
        left: 2%;
        opacity: 0%;
        top: 34%;
    }

    .btn3 {
        z-index: 2;
        position: absolute;
        left: 28%;
        top: 32%;
        opacity: 0%;
    }

    .btn4 {
        z-index: 2;
        position: absolute;
        left: 58%;
        top: 30%;
        opacity: 0%;

    }

    .btn-4 {
        height: 90px;
        width: 175px;
    }

    .btn5 {
        z-index: 2;
        position: absolute;
        left: 77%;
        bottom: 55%;
        opacity: 0%;
    }
    .btn-5{
        border-radius: 60px;
        width: 60px;
    }
    .btn6 {
        z-index: 2;
        position: absolute;
        left: 89%;
        top: 36%;
        opacity: 0%;
    }

    .btn-6 {
        height: 100px;
        width: 100px;
    }

    .btn7 {
        z-index: 2;
        font-size: 20px;
        position: absolute;
        left: 53%;
        bottom: 43%;
        opacity: 0%;

    }
    .btn8 {
        z-index: 3;
        position: absolute;
        left: 12%;
        bottom: 33%;
        opacity: 0%;
        cursor: pointer;
    }
    .btn-8{
        width: 90px;
        border-radius: 20px;
    }

    .btn7:hover,
    .btn7:active {
        opacity: 100%;
    }
}
@media screen and (max-width: 980px) and (orientation: portrait) {
    button {
        cursor: pointer;
        height: 60px;
        width: 80px;
    }

    .btn2 {
        z-index: 2;
        position: absolute;
        left: 1%;
        opacity: 0%;
        top: 14%;
    }

    .btn3 {
        z-index: 2;
        position: absolute;
        left: 26%;
        top: 10%;
        opacity: 0%;
    }

    .btn4 {
        z-index: 2;
        position: absolute;
        left: 54%;
        top: 6%;
        opacity: 0%;

    }

    .btn-4 {
        height: 90px;
        width: 175px;
    }

    .btn5 {
        z-index: 2;
        position: absolute;
        left: 78%;
        bottom: 55%;
        opacity: 0%;
    }

    .btn6 {
        z-index: 2;
        position: absolute;
        left: 87%;
        top: 18%;
        opacity: 0%;
    }

    .btn-6 {
        height: 100px;
        width: 100px;
    }

    .btn7 {
        z-index: 2;
        font-size: 20px;
        position: absolute;
        left: 51%;
        bottom: 36%;
        opacity: 100%;

    }
    .btn8 {
        z-index: 3;
        position: absolute;
        left: 12%;
        bottom: 0%;
        opacity: 100%;
        cursor: pointer;
    }
    .btn-8{
        width: 115px;
        border-radius: 20px;
    }
    .btn7:hover {
        opacity: 100%;
    }
}

/*for ipads in landscape mode*/
@media screen and (max-width: 1050px) and (orientation: landscape) {
    button {
        cursor: pointer;
        height: 60px;
        width: 80px;
    }

    .btn2 {
        z-index: 2;
        position: absolute;
        left: -1%;
        opacity: 0%;
        top: 20%;
    }

    .btn3 {
        z-index: 2;
        position: absolute;
        left: 26%;
        top: 17%;
        opacity: 0%;
    }

    .btn4 {
        z-index: 2;
        position: absolute;
        left: 54%;
        top: 13%;
        opacity: 0%;

    }

    .btn-4 {
        height: 90px;
        width: 175px;
    }

    .btn5 {
        z-index: 2;
        position: absolute;
        left: 74%;
        bottom: 60%;
        opacity: 0%;
    }

    .btn6 {
        z-index: 2;
        position: absolute;
        left: 87%;
        top: 24%;
        opacity: 0%;
    }

    .btn-6 {
        height: 100px;
        width: 100px;
    }

    .btn7 {
        z-index: 2;
        font-size: 20px;
        position: absolute;
        left: 53%;
        bottom: 37%;
        opacity: 0%;

    }
    .btn8 {
        z-index: 3;
        position: absolute;
        left: 12%;
        bottom: 21%;
        opacity: 0%;
        cursor: pointer;
    }
    .btn-8{
        width: 90px;
        border-radius: 20px;
    }

    .btn7:hover,
    .btn7:active {
        opacity: 100%;
    }
}

/*for iphones in landscape mode*/
@media screen and (max-width: 900px) and (orientation: landscape) {
    button {
        cursor: pointer;
        height: 60px;
        width: 80px;
    }

    .btn2 {
        z-index: 2;
        position: absolute;
        left: -1%;
        opacity: 0%;
        top: 1%;
    }

    .btn3 {
        z-index: 2;
        position: absolute;
        left: 25%;
        top: -5%;
        opacity: 0%;
    }

    .btn4 {
        z-index: 2;
        position: absolute;
        left: 54%;
        top: -9%;
        opacity: 0%;

    }

    .btn-4 {
        height: 90px;
        width: 150px;
    }

    .btn5 {
        z-index: 2;
        position: absolute;
        left: 74%;
        bottom: 63%;
        opacity: 0%;
    }

    .btn6 {
        z-index: 2;
        position: absolute;
        left: 86%;
        top: 7%;
        opacity: 0%;
    }

    .btn-6 {
        height: 100px;
        width: 100px;
    }

    .btn7 {
        z-index: 2;
        font-size: 20px;
        position: absolute;
        left: 51%;
        bottom: 33%;
        opacity: 0%;

    }
    .btn8 {
        z-index: 3;
        position: absolute;
        left: 9%;
        bottom: 8%;
        opacity: 0%;
        cursor: pointer;
    }
    .btn-8{
        width: 90px;
        border-radius: 20px;
    }

    .btn7:hover,
    .btn7:active {
        opacity: 100%;
    }
}



/*for iphones in landscape mode*/
@media screen and (max-width: 820px) and (orientation: landscape) {
    button {
        cursor: pointer;
        height: 60px;
        width: 80px;
    }

    .btn2 {
        z-index: 2;
        position: absolute;
        left: 1%;
        opacity: 0%;
        top: 1%;
    }

    .btn-2 {
        height: 75px;
        width: 75px;
    }

    .btn3 {
        z-index: 2;
        position: absolute;
        left: 25%;
        top: -5%;
        opacity: 0%;
    }

    .btn4 {
        z-index: 2;
        position: absolute;
        left: 54%;
        top: -9%;
        opacity: 0%;

    }

    .btn-4 {
        height: 90px;
        width: 140px;
    }

    .btn5 {
        z-index: 2;
        position: absolute;
        left: 74%;
        bottom: 49%;
        opacity: 0%;
    }

    .btn-5 {
        height: 120px;
        width: 50px;
    }

    .btn6 {
        z-index: 2;
        position: absolute;
        left: 86%;
        top: 7%;
        opacity: 0%;
    }

    .btn-6 {
        height: 100px;
        width: 100px;
    }

    .btn7 {
        z-index: 2;
        font-size: 15px;
        position: absolute;
        left: 51%;
        bottom: 33%;
        opacity: 0%;

    }
    .btn8 {
        z-index: 3;
        position: absolute;
        left: 9%;
        bottom: 9%;
        opacity: 0%;
        cursor: pointer;
    }
    .btn-8{
        width: 80px;
        border-radius: 20px;
    }

    .btn7:hover,
    .btn7:active {
        opacity: 100%;
    }
}

/*ipad's etc*/
@media screen and (max-width: 768px) {
    button {
        cursor: pointer;
        height: 60px;
        width: 80px;
    }

    .btn2 {
        z-index: 2;
        position: absolute;
        left: -1%;
        opacity: 0%;
        top: 32%;
    }

    .btn3 {
        z-index: 2;
        position: absolute;
        left: 24%;
        top: 30%;
        opacity: 0%;
    }

    .btn4 {
        z-index: 2;
        position: absolute;
        left: 54%;
        top: 28%;
        opacity: 0%;

    }

    .btn-4 {
        height: 80px;
        width: 145px;
    }

    .btn5 {
        z-index: 2;
        position: absolute;
        left: 75%;
        bottom: 59%;
        opacity: 0%;
    }

    .btn-5 {
        height: 50px;
        width: 50px;
    }

    .btn6 {
        z-index: 2;
        position: absolute;
        left: 87%;
        top: 34%;
        opacity: 0%;
    }

    .btn-6 {
        height: 75px;
        width: 75px;
    }

    .btn7 {
        z-index: 2;
        position: absolute;
        left: 51%;
        bottom: 44%;
        opacity: 0%;
    }
    .btn8 {
        z-index: 3;
        position: absolute;
        left: 9%;
        bottom: 35%;
        opacity: 0%;
        cursor: pointer;
    }
    .btn-8{
        width: 115px;
        border-radius: 20px;
    }

    .btn7:hover,
    .btn-7:active {
        opacity: 100%;
    }
}

@media screen and (max-width: 575px) {
    button {
        cursor: pointer;
        height: 60px;
        width: 80px;
    }

    .btn2 {
        z-index: 2;
        position: absolute;
        left: -8%;
        opacity: 0%;
        top: 40%;
    }

    .btn3 {
        z-index: 2;
        position: absolute;
        left: 23%;
        top: 36%;
        opacity: 0%;
    }

    .btn4 {
        z-index: 2;
        position: absolute;
        left: 54%;
        top: 35%;
        opacity: 0%;

    }

    .btn-4 {
        height: 50px;
        width: 70px;
    }

    .btn5 {
        z-index: 2;
        position: absolute;
        left: 78%;
        bottom: 55%;
        opacity: 0%;
    }

    .btn-5 {
        height: 30px;
        width: 30px;
    }

    .btn6 {
        z-index: 2;
        position: absolute;
        left: 92%;
        top: 40%;
        opacity: 0%;
    }

    .btn-6 {
        height: 35px;
        width: 35px;
    }

    .btn7 {
        z-index: 2;
        font-size: 17px;
        position: absolute;
        left: 55%;
        bottom: 47%;
        opacity: 0%;

    }
    .btn8 {
        z-index: 3;
        position: absolute;
        left: 13%;
        bottom: 42%;
        opacity: 0%;
        cursor: pointer;
    }
    .btn-8{
        width:35px;
        height: 20px;
        border-radius: 20px;
    }

    .btn7:hover,
    .btn7:active {
        opacity: 100%;
    }
}